.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-bottom: 20px;
    position: relative;
    

    .title {
      color: black;
      font-weight: 900;
      font-size: 2rem;
      position: absolute;
      top: 12px;
      left: 70px;

      &:hover {
        text-decoration: none;
      }
    }
   
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px;
      transform: none;
      box-sizing: inherit;
      
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  